<!DOCTYPE html>
<html lang="en" class=" [scrollbar-gutter:stable]" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "DoItShop" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="flex antialiased">
    <div class="min-w-[270px] max-w-[270px] flex max-h-screen min-h-screen flex-col justify-between overflow-y-auto">
      <div>
        <div class="flex gap-2 px-5 pt-5 text-sm font-bold ">
          <.icon name="hero-cube" /> Do It Shop
        </div>
        <ul class="menu ">
          <li>
            <.nav_link href={~p"/"} current_path={@conn.request_path} exact={true}>
              <.icon name="hero-home" />Dashboard
            </.nav_link>
          </li>
          <%!-- <li>
            <details open>
              <summary><.icon name="hero-user" />Sales</summary>
              <ul>
                <li><a>Customers</a></li>
                <li><a>Prospects</a></li>
                <li><a>Quotes</a></li>
                <li><a>Invoices</a></li>
              </ul>
            </details>
          </li> --%>
          <li>
            <details open>
              <summary><.icon name="hero-home-modern" />Production</summary>
              <ul>
                <li><a>Projects</a></li>
                <%!-- <li><a>Tasks</a></li>
                <li><a>Inventory</a></li>
                <li><a>Materials</a></li> --%>
              </ul>
            </details>
          </li>
          <%!-- <li>
            <details>
              <summary><.icon name="hero-shopping-cart" />Purchasing</summary>
              <ul>
                <li><a>Purchase Orders</a></li>
                <li><a>Materials</a></li>
                <li><a>Vendors</a></li>
              </ul>
            </details>
          </li> --%>

          <li>
            <details open>
              <summary><.icon name="hero-cog-6-tooth" />Admin</summary>
              <ul>
                <li>
                  <.nav_link href={~p"/employees"} current_path={@conn.request_path}>
                    Employees
                  </.nav_link>
                </li>
                <li><a>Payroll</a></li>
                <li><a>Company Settings</a></li>
              </ul>
            </details>
          </li>
        </ul>
      </div>
      <ul class="flex flex-col p-5">
        <%= if @current_user do %>
          <li class="leading-6 ">
            <%= @current_user.email %>
          </li>
          <li>
            <.nav_link
              href={~p"/users/settings"}
              current_path={@conn.request_path}
              active_class="text-purple-500"
              class="text-sm font-semibold leading-6 "
            >
              Settings
            </.nav_link>
          </li>
          <li>
            <.link
              href={~p"/users/log_out"}
              method="delete"
              class="text-sm font-semibold leading-6 "
            >
              Log out
            </.link>
          </li>
        <% else %>
          <li>
            <.link href={~p"/users/register"} class="font-semibold leading-6 ">
              Register
            </.link>
          </li>
          <li>
            <.link href={~p"/users/log_in"} class="font-semibold leading-6 ">
              Log in
            </.link>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="flex-grow w-full max-h-screen min-h-screen p-5 overflow-y-auto bg-base-200 ">
      <div class="">
        <%= @inner_content %>
      </div>
    </div>
  </body>
</html>
