<!DOCTYPE html>
<html lang="en" class="bg-base-100 light" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "DoItShop" %>
    </.live_title>
     <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  
  <body class="bg-base-200 antialiased">
    <div class="drawer lg:drawer-open">
      <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <div class="bg-base-100 border-base-200 flex justify-between border-b border-l p-2">
          <div class="flex items-center gap-2">
            <label for="my-drawer-2" class="btn btn-ghost drawer-button lg:hidden">
              <.icon name="hero-bars-3" />
            </label>
            
            <h2 class="text-sm font-bold lg:hidden">
              <.icon name="custom-hammer" class="text-secondary" /> Do It Shop
            </h2>
          </div>
          
          <div class="flex items-center gap-2">
            <.theme_controller />
            <.dropdown trigger_class="btn-ghost">
              <:trigger><.icon name="hero-user-circle" /></:trigger>
              
              <ul class="menu">
                <%= if @current_user do %>
                  <li>
                    <.link
                      href={~p"/users/settings"}
                      current_path={@conn.request_path}
                      active_class="text-purple-500"
                      class="text-sm font-semibold leading-6 "
                    >
                      <.icon name="hero-cog-6-tooth" />Settings
                    </.link>
                  </li>
                  
                  <li>
                    <.link
                      navigate={~p"/users/log_out"}
                      method="delete"
                      class="text-sm font-semibold leading-6 "
                    >
                      <.icon name="hero-arrow-right-on-rectangle" />Log out
                    </.link>
                  </li>
                <% else %>
                  <li>
                    <.link navigate={~p"/users/register"} class="font-semibold leading-6 ">
                      Register
                    </.link>
                  </li>
                  
                  <li>
                    <.link navigate={~p"/users/log_in"} class="font-semibold leading-6 ">
                      Log in
                    </.link>
                  </li>
                <% end %>
              </ul>
            </.dropdown>
          </div>
        </div>
        
        <div class="h-[calc(100vh-65px)] max-w-[100vw] w-full overflow-y-auto ">
          <div class="p-3 sm:p-4 md:p-8">
            <%= @inner_content %>
          </div>
        </div>
      </div>
      
      <div class="drawer-side">
        <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
        <div class="bg-base-100 min-w-[270px] flex max-h-screen min-h-screen flex-col justify-between overflow-y-auto">
          <div>
            <div class="flex gap-2 px-6 pt-5 text-sm font-bold ">
              <.icon name="custom-hammer" class="text-secondary" /> Do It Shop
            </div>
            
            <ul class="menu ">
              <li>
                <.nav_link navigate={~p"/"} current_path={@conn.request_path} exact={true}>
                  <.icon name="hero-home" />Dashboard
                </.nav_link>
              </li>
              
              <%!-- <li>
            <details open>
              <summary><.icon name="hero-user" />Sales</summary>
              <ul>
                <li><a>Customers</a></li>
                <li><a>Prospects</a></li>
                <li><a>Quotes</a></li>
                <li><a>Invoices</a></li>
              </ul>
            </details>
          </li> --%>
              <li>
                <details open>
                  <summary><.icon name="hero-home-modern" />Production</summary>
                  
                  <ul>
                    <li><a>Projects</a></li>
                    
                    <%!-- <li><a>Tasks</a></li>
                <li><a>Inventory</a></li>
                <li><a>Materials</a></li> --%>
                  </ul>
                </details>
              </li>
              
              <%!-- <li>
            <details>
              <summary><.icon name="hero-shopping-cart" />Purchasing</summary>
              <ul>
                <li><a>Purchase Orders</a></li>
                <li><a>Materials</a></li>
                <li><a>Vendors</a></li>
              </ul>
            </details>
          </li> --%>
              <li>
                <details open>
                  <summary><.icon name="hero-cog-6-tooth" />Admin</summary>
                  
                  <ul>
                    <li>
                      <.nav_link navigate={~p"/employees"} current_path={@conn.request_path}>
                        Employees
                      </.nav_link>
                    </li>
                    
                    <li><a>Payroll</a></li>
                    
                    <li><a>Company Settings</a></li>
                  </ul>
                </details>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
