<.flash_group flash={@flash} />
<div class="container pb-2">
  <div class="prose">
    <h2>Dashboard</h2>
  </div>
</div>

<div class="bg-base-100 container rounded-xl p-8 shadow">
  <button class="btn ">Create Quote</button>
  <button class="btn ">Enter Timeclock Mode</button>
</div>
