<%= assigns[:title] %>

================================

<%= @inner_content %>

================================
Copyright <%= DateTime.utc_now.year %> DoItShop. All rights reserved.
DoItShop LLC
26955 Fritsch Bridge
54933-7180 San Fransisco
