@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

* {
  scroll-behavior: smooth;
  scroll-margin: 65px;
}

.scrollable::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollable::-webkit-scrollbar-track {
  @apply bg-transparent shadow-inner;
}

.scrollable::-webkit-scrollbar-thumb {
  @apply rounded-full shadow-sm bg-zinc-400 dark:bg-zinc-700/80;
}

.nav-link:has(a.active-nav) {
  @apply bg-neutral text-neutral-content;
}

.sort-link:hover .sort-icon {
  @apply text-secondary;
}

.sort-icon {
  transition-timing-function: ease-in-out;
  transition: all 100ms;
  margin: -3px -4px 0 -4px;
  clip-path: inset(0 0 0 0);
  @apply hover:text-secondary;
}

a[data-is-current-sort="true"][data-sort-order="asc"] .sort-icon {
  clip-path: inset(10px 0 0 0);
  transform: translateY(-4px);
  @apply text-secondary;
}

a[data-is-current-sort="true"][data-sort-order="desc"] .sort-icon {
  clip-path: inset(0 0 10px 0);
  transform: translateY(4px);
  @apply text-secondary;
}

.table-responsive {
  --tw-bg-opacity: 1;
  --table-background-color: var(
    --fallback-b1,
    oklch(var(--b1) / var(--tw-bg-opacity))
  );

  background-image: linear-gradient(
      to right,
      var(--table-background-color),
      var(--table-background-color)
    ),
    linear-gradient(
      to right,
      var(--table-background-color),
      var(--table-background-color)
    ),
    linear-gradient(to right, rgba(0, 0, 20, 0.3), rgba(255, 255, 255, 0)),
    linear-gradient(to left, rgba(0, 0, 20, 0.3), rgba(255, 255, 255, 0));
  /* Shadows */
  /* Shadow covers */
  background-position: left center, right center, left center, right center;
  background-repeat: no-repeat;
  background-color: var(--table-background-color);
  background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
  background-attachment: local, local, scroll, scroll;
}

/**
  * Scrollspy Styles
  */

#scroll-indicator {
  @apply absolute bottom-0 h-[2px] bg-secondary transition-all duration-500 ease-in-out rounded-full;
}
.menu-item {
  @apply px-4 py-2.5 text-sm transition-all duration-200;
}

.menu-item.active {
  @apply text-secondary;
}
